body {

    box-shadow: 5px 5px 15px rgb(132, 134, 138);
    margin: auto;
    width:960px;
    text-align: center;
    background-image: linear-gradient(320deg, #6bbaee 0%, rgb(197, 229, 247) 100%);
}

header{

    box-shadow: 5px 5px 15px rgb(132, 134, 138);
    background-image: linear-gradient(320deg, #6bbaee 0%, rgb(197, 229, 247) 100%);
}
}

main {
    

}

nav {

    background-image: linear-gradient(320deg, #6bbaee 0%, rgb(197, 229, 247) 100%);
   
}

h1 {
    color: rgb(58, 67, 78);
    font-family: fantasy;
    font-size: 30px;
    height: 60px;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 5px 5px 5px rgb(253, 253, 253);

}

h1:hover {
    
    text-shadow: 30px 30px 1px rgb(253, 253, 253);
    transition: ease-in-out 1s all;
}


nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: rgb(58, 67, 78);
    
  }
  
ul > li {
    float: left;
    background-image: linear-gradient(260deg, rgb(197, 229, 247) 0%, #6bbaee 100%);
    text-shadow: 2px 2px 5px rgb(253, 253, 253);
}
  
ul > li a {

    color: rgb(58, 67, 78);
    display: block;
    font-family: fantasy;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    
}

#itemCount {

    color: #721d07;
    font-size : 20px;
    font-family: fantasy;
    height : 60px;
    padding: 25px;
    text-shadow: 2px 2px 5px rgb(253, 253, 253);


}

ul > li a:hover {

    background-image: linear-gradient(320deg, #6bbaee 0%, rgb(197, 229, 247) 100%);
    color: rgb(146, 12, 12);
    box-shadow: 5px 5px 5px rgb(240, 243, 247);
    text-shadow: 2px 2px 6px rgb(163, 16, 5);
    transition: 1s all;
  }

div > ol {

    text-align: left;
}
  
  
ol > li {
    color: rgb(72, 75, 80);
    font-family: fantasy;
    list-style: square;
    margin-left : 250px;
    margin-top : 10px;
    padding: 5px 5px;
    text-shadow: 2px 2px 5px rgb(253, 253, 253);

}

span {

    color: rgb(58, 67, 78);
    font-family: fantasy;
    font-size: 20px;
    padding: 5px 5px;
    text-shadow: 2px 2px 5px rgb(253, 253, 253);
    

}

#catalog {

    margin-top: 20px;

}

legend {

    font-family: fantasy;
    box-shadow: 2px 2px 5px rgb(240, 243, 247);
    font-size : 25px;
    margin-bottom: 10px;
}

#quantity {

    background-image: linear-gradient(320deg, rgb(197, 229, 247)  0%, #6bbaee 100%);
    color: #721d07;
    font-size : 20px;
    font-family: fantasy;
    padding: 5px;
    text-shadow: 2px 2px 5px rgb(253, 253, 253);
    width: 70px;
}


#cart {

    font-family: fantasy;
    font-size : 10px;
    text-align: left;
}

p {

    font-family: fantasy;
    font-size : 10px;
    text-align: left;
    margin-top: 20px;


}